<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  </head>
  <body class="container">
    <br/>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style='font-family: "Share Tech"; color: #333; font-size: 24px; font-weight: bold;'>Lucie Framework</a>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-8">
        <h1><%= @filename.split("_").map!{|x| x.capitalize}.join(" ") %></h1>
        <%= raw @contents %>
        <%= yield %>
      </div>
      <div class="col-md-4">
        <div class="list-group">
          <%- @sources.each do |source| %>
            <% active = (source == @filename ? 'active' : '') %>
            <a href="<%= source %>.html" class="list-group-item <%= active %>"><%= source.split("_").map!{|x| x.capitalize}.join(" ") %></a>
            <% if active == 'active' %>
              <% raw @contents %>
            <% end %>
          <%- end %>
        </div>
      </div>
    </div>
  </body>
</html>